<div class="home-container">
    <h1>Welcome to {{ title }}!</h1>
    <p class="welcome-text">This is the welcome page of our Angular application. Feel free to explore the features and functionalities we offer.</p>
    <button class="explore-button" routerLink="/features">Explore Features</button>
    
    <div class="section">
        <h2>Getting Started</h2>
        <p>To get started, you can check out the following resources:</p>
        <ul>
            <li><a routerLink="/docs">Documentation</a></li>
            <li><a routerLink="/tutorials">Tutorials</a></li>
            <li><a routerLink="/support">Support</a></li>
        </ul>
    </div>
    
    <div class="section">
        <h2>Latest Updates</h2>
        <p>Stay up to date with the latest news and updates:</p>
        <ul>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/releases">Releases</a></li>
        </ul>
    </div>
</div>